*
!pyproject.toml
!hatch_build.py
!CMakeLists.txt
!LICENSE
!THIRD_PARTY.md
!native
!native/**
!src
!src/**
!deploy
!deploy/requirements.txt
!deploy/Dockerfile
**/__pycache__
**/*.pyc
src/side_galaxy/_native/**
native/build/**
